<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Property -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${configPath}/completor/wlcompletor.properties</value>
			</list>				
		</property>	
	</bean>
	
    <!--  -->
	<bean id="wlCompletorService" class="jp.emcom.adv.fx.completor.service.WLCompletorService" >
	    <property name="verbose" value="true"/>
		<property name="wlCompletorDao">
			<bean class="jp.emcom.adv.fx.completor.service.dao.WLCompletorDao"/>
		</property>
	</bean>
	
	<bean id="wlNetterService" class="jp.emcom.adv.fx.completor.service.WLNetterService" >
	    <property name="verbose" value="true"/>
	    <property name="tradeDao">
			<bean class="cn.bestwiz.jhf.core.dao.middle.TradeDao"/>
		</property>
		<property name="wlNetterDao">
			<bean class="jp.emcom.adv.fx.completor.service.dao.WLNetterDao"/>
		</property>
	</bean>
	
	<bean id="wlCorrectorService" class="jp.emcom.adv.fx.completor.service.WLCorrectorService" >
	    <property name="verbose" value="true"/>
		<property name="wlCorrectorDao">
			<bean class="jp.emcom.adv.fx.completor.service.dao.WLCorrectorDao"/>
		</property>
	</bean>
	
	<!--  -->
	<bean id="wlScheduler" class="jp.emcom.adv.fx.completor.biz.scheduler.impl.PullingWLScheduler" >
	    <property name="verbose" value="true"/>
	    <property name="wlExecutor" ref="wlExecutor"/>
	    <property name="readOnly" value="${scheduler.readOnly}"/>
	    <property name="wlCompletorService" ref="wlCompletorService"/>
	    <property name="schedulingInterval" value="${scheduler.schedulingInterval}"/>
	    <property name="clientIds" ref="clientIds" />
	</bean>
	
	<bean id="clientIds" class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<value>WLXXXX</value>
				<value>WL0002</value>
				<value>WL0003</value>
				<value>WL0004</value>
				<value>MINFX</value>
			</list>
		</property>
	</bean>
	
	<bean id="wlExecutor" class="jp.emcom.adv.fx.completor.biz.executor.impl.DefaultWLExecutor" >
	    <property name="verbose" value="true"/>
	    <property name="wlNetter" ref="wlNetter"/>
	    <property name="wlCorrector" ref="wlCorrector"/>
	    <property name="pollingInterval" value="${executor.pullingInterval}"/>
	    <property name="executorPoolSize" value="${executor.executorPoolSize}"/>
	    <property name="executionTimeThreshold" value="${executor.executionTimeThreshold}"/>
	</bean>
	
	<bean id="wlNetter" class="jp.emcom.adv.fx.completor.biz.executor.impl.WLNetter" >
	    <property name="verbose" value="true"/>
	    <property name="wlNetterService" ref="wlNetterService"/>
	</bean>
	
	<bean id="wlCorrector" class="jp.emcom.adv.fx.completor.biz.executor.impl.WLCorrector" >
	    <property name="verbose" value="true"/>
	    <property name="wlCorrectorService" ref="wlCorrectorService"/>
	</bean>
	
	
	
	
<!--	rebuild contract-->
	
	
		 
	<bean id="schedulerService" class="jp.emcom.adv.fx.completor.service.SchedulerService">
	    <property name="clientIds" ref="clientIds"/>
		<property name="scheduler" ref="schedulerFactoryService" />
		<property name="jobDetail" ref="jobDetail" />
	</bean> 



	<bean id="schedulerFactoryService" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
<!--		<property name="triggers">-->
<!--			<list>-->
<!--			    <ref local="cronTrigger" />-->
<!--			</list>-->
<!--		</property>-->
	 </bean>


	

<!--    <bean id="cronTrigger" class="jp.emcom.adv.fx.completor.biz.scheduler.WLCronTriggerBean">-->
<!--        <property name="jobDetail">-->
<!--             <ref bean="rebuildJob"/>-->
<!--        </property>-->
<!--        <property name="cronExpression">-->
<!--            <value>20 * * * * ? *</value>-->
<!--        </property>-->
<!--    </bean>-->


	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
	
		<property name="jobClass">
			<value>jp.emcom.adv.fx.completor.biz.scheduler.RebuildJob</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="rebuildService">
					<ref bean="rebuildService" />
				</entry>
			</map>
		</property>
    </bean>
	

	<bean id="rebuildService" class="jp.emcom.adv.fx.completor.service.WLRebuildService">
	 </bean>

</beans>
