<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jp.emcom.adv.whitelabel.fix.rcp.extention.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.perspective.Perspective"
            id="fix-rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.NavigatorViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.MenuViewPart"
            name="Menu">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.OrderHistoryViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.OrderHistoryViewPart"
            name="Order History">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.QuoteHistoryViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.QuoteHistoryViewPart"
            name="Quote History">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.QuoteSubscriptionViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.QuoteSubscriptionViewPart"
            name="Quote Subscription">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.SessionViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.SessionViewPart"
            name="Session">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.ShellViewPart"
            icon="icons/shell_view.png"
            id="fix-rcp.ShellViewPart"
            name="Shell">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.SpotBoardViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.SpotBoardViewPart"
            name="Spot Board">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.OrderSearchViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.OrderSearchViewPart"
            name="Order Search">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.QuoteSearchViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.QuoteSearchViewPart"
            name="Quote Search">
      </view>
      <view
            class="jp.emcom.adv.whitelabel.fix.rcp.extention.view.QuoteGraphViewPart"
            icon="icons/default_view.gif"
            id="fix-rcp.QuoteGraphViewPart"
            name="Quote Graph">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fix-rcp.application"
            name="fix-rcp">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="fix-rcp">
         </property>
         <property
               name="windowImages"
               value="icons/fix_rcp_16.png">
         </property>
         <property
               name="aboutText"
               value="FIX-RCP by EMCOM">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <theme
            id="fix-rcp.theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="5,11,15">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="153,159,173">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_TEXT_COLOR"
               value="255,255,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="64,70,84">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="170,176,190">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="0,0,0">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="160,160,160">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_TEXT_COLOR"
               value="255,255,255">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_TEXT_COLOR"
               value="255,255,255">
         </colorOverride>
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Toggle Navigator"
            id="navigator.toggle"
            name="Toggle Navigator">
      </command>
      <command
            description="Clear"
            id="clear"
            name="Clear">
      </command>
      <command
            description="CSV"
            id="csv"
            name="CSV">
      </command>
      <command
            id="all"
            name="All">
      </command>
   </extension>

</plugin>
